# Ignore build folders
.vs
bin
obj

.github

# Ignore user-specific files
*.user


# Ignore React folders
node_modules
.next/
.idea/

 #config
/FrontendReact/ff-articles-frontend/.env
/FrontendReact/ff-articles-frontend/openapi.config.ts
