# Ignore build folders
.vs
.vscode
bin
obj

publish/

# Ignore user-specific files
*.user


# Ignore React folders
node_modules
.next/
.idea/

# Ignore generated codes
generate/

# Ignore environment files
FrontendReact/ff-articles-frontend/.env*
appsettings.Development.json
appsettings.Production.json

.env

.DS_Store