
.article-card {
    flex-direction: column;
    width: 100%;
}

.header-card {
    width: 100%;
    box-sizing: border-box;
}

.content-card {
    min-height: calc(100vh - 260px);
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}
