.articlecard {
    width: 100%;
    box-sizing: border-box;
}

.articlecard :global(.ant-card-body) {
    padding: 12px !important;
}

.articlecontainer {
    flex-direction: column;
    width: 100%;
}

.articleheaderCard {
    width: 100%;
    box-sizing: border-box;
    height: 170px;
    overflow-y: auto;
}

.articlecontentCard {
    width: 100%;
    min-height: calc(100vh - 265px);
    box-sizing: border-box;
}